{% extends 'base.html.twig'%}

{% block additionnal_body_class %}
    login-page
    ls-closed
{% endblock %}

{% block content %}

    <div class="card">
        <div class="header bg-orange text-center">
            <h2>Connecte toi !</h2>
        </div>
        <div class="body">
            <form action="{{ path('security_login')}}" method="post">
                {% if error %}
                    <div class="alert alert-danger">
                        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    </div>
                {% endif %}
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">person</i>
                    </span>
                    <div class="form-line">
                        <input placeholder="Nom d'utilisateur" required name="_username" type="text" class="form-control">
                    </div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">lock</i>
                    </span>
                    <div class="form-line">
                        <input placeholder="Mot de passe" required name="_password" type="password" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <button type="submit" class="btn bg-teal">Connexion</button>
                    </div>
                    <div class="col-xs-6 align-right">
                        <a href="{{ path('security_registration') }}" class="btn btn-default waves-effect">
                            <div class="color_teal">
                                Créer un compte
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="align-center">
                        <a href="{{ path('user_login') }}" class="btn bg-indigo waves-effect">Connexion via My</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}