body {
    background-color: lightgray !important;
}

.login-page {
    background-color: lightgray !important;
}

.no_menu {
    margin-left: 0 !important;
}

.color_teal {
    color: teal;
}

#app-notifs{
    display: none;
}

.petit-gris{
    color: #AAAAAA;
    font-size: 12px;
}

.radio{
    display: inline-block;
    margin-right: 14px;
}

.course_title{
    color: #000000 !important;

}

.fb_title{
    margin-bottom: 10px !important;
}

.progress{
    margin-bottom: 5px;
}

.header_home{
    padding: 8px !important;
}

.margin_title{
    margin-top: 10px;
}

.loutre{
    background-image: url('../images/loutres2.jpg');
}

.margin_title_fb{
    margin-top: -10px !important;
    margin-bottom: 20px;
}

.toutpetit{
    font-size: 10px;
}

.admin_card{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.btn-green{
    color : green;
}

.btn-amber{
    color : #FFC107;
}

.btn-red{
    color: red;
}

.bg-0{
    background-color: #03394F !important;
}

.bg-1{
    background-color: #05668D !important;
}

.bg-2{
    background-color: #089DD9 !important;
}

.bg-3{
    background-color: #26BCF7 !important;
}

.bg-4{
    background-color: #75D4FA !important;
}

.bg-5{
    background: #C4EDFD !important;
}

.text-white{
    color: white !important;
}