body {
    background-color: lightgray !important;
}

.login-page {
    background-color: lightgray !important;
}

.no_menu {
    margin-left: 0 !important;
}

.color_teal {
    color: teal;
}

#app-notifs{
    display: none;
}