body {
    background-color: lightgray !important;
}

.login-page {
    background-color: lightgray !important;
}

.no_menu {
    margin-left: 0 !important;
}

.color_teal {
    color: teal;
}

#app-notifs{
    display: none;
}

.petit-gris{
    color: #AAAAAA;
    font-size: 12px;
}

.radio{
    display: inline-block;
    margin-right: 14px;
}

.course_title{
    color: #000000 !important;

}

.fb_title{
    margin-bottom: 10px !important;
}

.progress{
    margin-bottom: 5px;
}

.header_home{
    padding: 8px !important;
}

.margin_title{
    margin-top: 10px;
}

