<div>
    <p>Salut {{ user.firstName }}</p>

    <p>La fin du semestre est là et nous t'invitons à laisser des avis sur les cours et donner ton ressenti !</p>

    <p>Pour accéder au site web, <a href="/">clique ici</a> !</p>

    <p>La bise !</p>
    <p>Nicoco</p>
</div>