{% extends 'base.html.twig' %}

{% block content %}
    <h1>Liste des cours</h1>

    <section>
        {% for course in courses %}
            <h3>{{ course.getName }}</h3>
        {%  endfor %}
    </section>


{% endblock %}