{% extends 'base.html.twig' %}

{% block content %}
    <h1>Bienvenue sur le site des feedbacks !</h1>
    <h2>Ecole centrale de Marseille</h2>

    <p>Coucou , ça marche ?</p>
    <a href="{{ path('feedback') }}">go sur le controller</a>


{% endblock %}